.card__nav{
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0);;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav__item{
    width: 100px;
    text-align: center;
}
.nav__link__logo{
    width: 40px;
    margin-left: 20px;
}
.nav__link{
    text-decoration: none;
    color: white;
    width: 100%;
    display: inline-block;
}
.nav__link:hover{
    color: rgb(251, 219, 0);
    cursor: pointer;
}