$fondoNegro: rgb(18, 18, 18);
$amarillo: rgb(251, 219, 0);
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

// RESET

*{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    margin: 18px 0;
}
// HOME

.error__link{
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 1rem;
    font-weight: bold;
}
.error__link:hover{
    color: $amarillo;
}

.data{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
    margin: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    .data__instru{
        background-color: rgb(18, 18, 18);
        padding: 20px;
        border-radius: 20px;
        width: 30%;
        box-shadow: 0 0 10px black;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// NAVBAR

.card__nav{
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav__link__logo{
        width: 40px;
        margin-left: 20px;
    }
    .nav__list{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .nav__item{
            width: 100px;
            text-align: center;
            .nav__link{
                text-decoration: none;
                color: white;
                width: 100%;
                display: inline-block;
                .icon__carrito__container{
                    position: relative;
                    .nav__icon__cant{
                        background-color: $amarillo;
                        padding: 5px;
                        border-radius: 50%;
                        color: black;
                        position: absolute;
                        top: 0;
                        height: 16px;
                        width: 16px;
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
            }
            .nav__link:hover{
                color: rgb(251, 219, 0);
                cursor: pointer;
            }
        }
    }
}


// CONTADOR

.contador{
    padding: 10px;
    background-color: $fondoNegro;
    display: flex;
    flex-direction: column;

}
.contador__botones{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contador__button{
    padding: 5px;
    background-color: $fondoNegro;
    border: none;
    border-radius: 50%;
}
.contador__button ion-icon{
    color: white;
}
.contador__input{
    width: 20%;
    font-size: 1.2em;
    text-align: center;
    height: 100%;
}
.invalido{
    background-color: rgb(141, 29, 29);
    color: white;
}
.button__add{
    padding: 10px;
    background-color: white;
    color: $fondoNegro;
    border: none;
    border-radius: 5px;
    font: bold 1em 'Helvetica';
    margin: 10px 0;
}
.button__add:hover{
    background-color: $fondoNegro;
    color: white;
    cursor: pointer;
    outline: 2px solid white;
    box-sizing: border-box;
}

// LISTADO DE Productos

.listado{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .listado__productos{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        padding: 14px;
        .listado__title{
            font: bold 1.3em 'Lora';
        }
        .listado__img{
            max-width: 300px;
        }
        // .listado__precio{

        // }
        .listado__button{
            background-color: white;
            border: 2px solid black;
            border-radius: 6px;
            padding: 10px;
            text-decoration: none;
            color: black;
            display: inline-block;
        }
        .listado__button:hover{
            cursor: pointer;
            background-color: black;
            border: 2px solid white;
            color: white;
            transition: 0.3s;
            box-shadow: 0 0 10px black;
        }
    }
}

.cargando{
    background-color:rgb(18,18,18);
    color: white;
    padding:20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: 30px auto;
}

// DETALLES DE LOS PRODUCTOS
.total__detalles{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalles{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    .detalles__error{
        padding: 20px;
        background-color:rgb(18,18,18);
        color: white;
        border-radius: 10px;
        margin: 25% 0;
    }
    .detalles__producto{
        position: relative;
        border: 2px solid black;
        text-align: center;
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0 0 10px black;
        margin: 10px;
        .detalles__title{
            font: bold 1.2em 'Lora';
        }
        .detalles__img{
            max-width: 400px;
        }
        .detalles__desc{
            background-color: rgb(20, 20, 20);
            color: white;
            padding: 10px;
            text-align: left;
        }
        .detalles__precio{
            background-color: $amarillo;
            border-radius: 10px;
            color: rgb(20, 20, 20);
            padding: 10px;
            display: inline-block;
            margin: 0 6px;
            font: italic 13px 'Helvetica';
            position: absolute;
            top: 13px;
            right: 20px;
            box-shadow: 0 0 10px black;
        }
        .detalles__button{
            padding: 10px;
            background-color: white;
            color: $fondoNegro;
            border: 2px solid white;
            border-radius: 5px;
            font: bold 1em 'Helvetica';
            margin-top: 10px;
        }
        .detalles__button:hover{
            cursor: pointer;
            border: 2px solid black;
            box-shadow: 0 0 10px black;
        }
    }
}


// FOOTER
.body{
    display: flex;
    flex-direction: column;
}
.footer{
    margin-top: 30px;
    background-color:rgb(18, 18, 18);
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px black;
    padding: 20px;
    bottom: 0;
    position: fixed;
    .footer__data{
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }
    .footer__redes{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        .footer__lista{
            list-style-type: none;
            display: flex;
            .footer__item{
                margin: 0 10px;
            }
        }
    }
}

// CARRITO

.carrito{
    background-color: $fondoNegro;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    .precio__total{
        text-align: center;
        margin: 20px 0;
        font-weight: bold;
    }
    .button__clear{
        padding: 10px;
        background-color:$fondoNegro;
        color: white;
        border: 2px solid white;
    }
    .button__clear:hover{
        background-color: white;
        color: $fondoNegro;
        border: 2px solid black; 
        cursor: pointer;
        transition: 300ms;
    }
    .carrito__container{
        display: flex;
        align-items: center;
        background-color: white;
        color: $fondoNegro;
        height: 200px;
        margin: 10px 0;
        overflow: hidden;
        text-align: center;
        padding: 10px;
        list-style-type: none;
        .carrito__fila{
            padding: 10px;
            flex: 1;
            .carrito__img{
                width: 200px;
            }
            .carrito__button{
                padding: 10px;
                background-color:$fondoNegro;
                color: white;
                border: 2px solid white;
            }
            .carrito__button:hover{
                background-color: white;
                color: black;
                cursor: pointer;
                border: 2px solid black;
                transition: 0.2s;
            }
        }
    }
}